.navbar {
    background-color: black;

}

.item {

    /* display: flex; */
    /* justify-content: center; */

    padding: 40px;
}

.f1 {
    display: flex;
    justify-content: center;
    
    text-transform: uppercase;

}

.f2 {
    text-align: center;
}